body{
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  height: 230vh;
}

.header {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f9f9f9;
  position: relative;
  height: 10%;
  background-image: url(IMG_1360.jpg);
  background-size: cover;
  background-position: center;
}

.text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.text p {
  font-size: 18px;
}

.cards {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
}

.card1, .card2, .card3 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cards p {
  font-size: 14px;
  color: #666;
}

.table-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

table {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

td {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #ddd;
}

thead {
  background-color: #0078d4;
  color: white;
}

tbody tr:hover{
  background-color:#f2f2f2;
}
