.container {
  border: 1px solid;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.header {
  border: 1px solid;
  height: 25%;
  align-content: center;
}

.contents-one {
  height: 25%;
  display: flex;
  gap: 20px;
}

/*以下contents-one内のアイテム*/
.contents-A,.contents-B {
  width: 50%;
  border: 1px solid;
  align-content: center;
}

.contents-two {
  display: flex;
  height: 25%;
  gap: 20px;
}

.first {
  display: flex;
  gap: 20px;
  width: 50%;
}

/*以下.first内のアイテム*/
.contents-1,.contents-2 {
  border: 1px solid;
  width: 50%;
  align-content: center;
}

.second {
  display: flex;
  gap: 20px;
  width: 50%;
}

/*以下.second内のアイテム*/
.contents-3,.contents-4 {
  border: 1px solid;
  width: 50%;
  align-content: center; 
}

.footer {
  border: 1px solid;
  height: 25%;
  align-content: center;
}

@media screen and (max-width: 1279px) {
  .container {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
  }

  .header {
    border: 1px solid;
    height: 20%;
  }

  .contents-one {
    height: 20%;
  }

  /*以下contents-one内のアイテム*/
  .contents-A,.contents-B {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid;
  }

  .contents-two {
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .first {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 20px;
  }

  /*以下.first内のアイテム*/
  .contents-1,.contents-2 {
    border: 1px solid;
    width: 50%;
  }

  .second {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 20px;
  }

  /*以下.second内のアイテム*/
  .contents-3,.contents-4 {
    border: 1px solid;
  }

  .footer {
    border: 1px solid;
    height: 20%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header {
    border: 1px solid;
    height: 12.5%;
    align-content: center;
  }

  .contents-one {
    height: 25%;
    display: flex;
    flex-direction: column;
  }

  /*以下contents-one内のアイテム*/
  .contents-A,.contents-B {
    align-items: center;
    border: 1px solid;
    width: 100%;
    height: 50%;
  }

  .contents-two {
    display: flex;
    flex-direction: column;
    height: 50%;
  }

  .first {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /*以下.first内のアイテム*/
  .contents-1,.contents-2 {
    border: 1px solid;
    width: 100%;
    height: 50%;
  }

  .second {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /*以下.second内のアイテム*/
  .contents-3,.contents-4 {
    border: 1px solid;
    width: 100%;
    height: 50%;
  }

  .footer {
    border: 1px solid;
    height: 12.5%;
    align-content: center;
  }
}