body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

/*ヘッダー*/
.wholeheader {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  max-width: 960px;
  width: 100%;
  padding: 0 4%;
  box-sizing: border-box;
}

.header_title {
  width: 40%;
  align-content: center;
  text-align: center;
}

.title {
  font-size: 25px;
}

.header_navi {
  width: 60%;
  align-content: center;
}

.header_navi-whole {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.navi {
  font-size: 90%;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.instalogo {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 5px 0 0px ; 
}

.navi:hover,.instalogo:hover{ 
	opacity: 0.5;
}

/*ここから画像*/
.main_bigimage-pc { 
  height: 67vh;
}

.main_bigimage-sp {
  display: none; /*PC画面では非表示*/
  width: 100%;
  height: 67vh;
}

.mainimage-pc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainimage-sp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*ここからabout*/
.main_about {
  width:100%;
  max-width: 960px;
  margin: auto;
}

.main_about-head {
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  margin: 60px auto;
}

.main_about-text {
  text-align: left;
  box-sizing: border-box;
  margin: 0 20px;
}


/*ここからWorks*/
.main_works {
  max-width: 960px;
  margin: auto;
}

.head-works {
  text-align: center;
  margin: 60px auto;
}

.main_works-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.container-first {
  display: flex;
  gap: 20px;
}

.container-second {
  display: flex;
  gap: 20px;
}


/*ここからNews*/
.main_news {
  max-width: 960px;
  margin: auto;
}

.main_news-information {
  padding: 20px;
}


.head-news {
  text-align: center;
  margin: 60px auto;
}

.info {
  display: flex;
  border-top: 1px solid #c8c8c8;
}

.info.last {
  border-bottom: 1px solid #c8c8c8;
}

.date {
  margin: 20px;
}

.contents {
  margin: 20px;
}


/*ここからContact*/
.main_contact {
  max-width: 960px;
  margin: auto;
}

.head-contact {
  text-align: center;
  margin: 60px auto;
}

.main_contact-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.input {
  display: flex;
}

.content {
  width: 15%;
  padding-left: 20px;
}

.inputarea {
  width: 100%;
}

.area {
  width: 95%;
  border: 1px solid #c8c8c8;
}

.area.first,.area.second {
  height: 43px;
}

.main_contact-button {
  display: flex;
	justify-content: center;
}

.submitbutton {
  width: 200px;
  height: 50px;
  font-size: medium;
  color: white;
  background-color: black;
}

.submitbutton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}


/*ここからFooter*/
.footer {
  background-color: black;
  margin-top: 120px;
}

.footer_text {
  text-align: center;
  font-size: 8px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}



@media screen and (max-width: 600px) {
/*ヘッダー*/
  .wholeheader {
    display: inline;
    margin: 0px auto;
  }

  .header_title {
    width: 100%;
  }

  .title { 
    margin: 20px auto 0;
  }

  .header_navi {
    width: 100%;
  }

  .header_navi-whole {
    display: flex;
    justify-content: center;
  }

/*ここから画像*/
  .main_bigimage-pc { 
    display: none; /*スマホ画面では非表示*/
  }

  .main_bigimage-sp {
    display: block;
  }


/*ここからworks*/ 
  .container-first {
    flex-direction: column;
  }

  .container-second {
    flex-direction: column;
  }


/*ここからNews*/
  .info {
    display: block;
    padding: 20px;
  }

  .date {
    margin: 0px;
  }

  .contents {
    margin: 0px;
  }


  /*ここからContact*/
  .main_contact {
    padding: 0 20px;
  }

  .input {
    display: block;
  }

  .content {
    width: 100%;
    padding-left: 0px;
  }

  .area {
    width: 100%;
  }  
}